/* body {
  margin: 0;
  width: 80%;
}

h1 a {
  text-decoration: none;
  color: dodgerblue;
  font-family: Arial;
  background-color: slategray;
  padding: 0px 1em;
}

h1 {
  margin-bottom: 12px;
}

h2 {
  margin-top: 0px;
}

ul li {
  list-style: none;
}

li a {
  list-style: none;
  text-decoration: none;
}

nav ul {
  padding-left: 0px;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

header h1 {
  text-align: center;
  margin-top: 2.4em;
}

header nav li a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: white;
  padding: 12px 14px;
}

.logo {
  float: left;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 3em;
}

header nav li {
  float: right;
}

header nav {
  background-color: #293462;
  color: #fffde3;
  top: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
  margin-bottom: 1em;
  overflow: hidden;
  width: 100%;
  transition: 0.5s;
  margin-top: 2em;
  transition: width 1s, height 2s;
}

header nav ul li:hover {
  font-size: 20px;
  margin-right: 60px;
  transition: 0.8s;
}

footer {
  background-color: #2b4865;
  color: white;
  text-align: center;
  padding: 6px 0px;
  margin-top: 1em;
}

footer nav li a {
  color: white;
}

h3 a {
  text-decoration: none;
  color: darkblue;
}

.container {
  margin: auto 80px;
  border: 2px solid black;
  border-radius: 5em;
  margin-top: 100px;
}

.isi {
  margin: auto 65px;
}

.singlef {
    border-top: 3px solid black;
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 1em;
    clear: both;
    position: relative;
    height: 78px;
    margin-top: 273px;
  }

footer nav ul li:hover {
  font-size: 25px;
  margin-right: 60px;
  transition: 0.8s;
}

.info-meta .author {
  color: blue;
  margin-right: 10px;
} */
